<div class="jumbotron">
    <h1 class="display-8 d-xs-block d-md-none">ESTA PÁGINA ESTA DESARROLLADA USANDO NODEJS</h1>
    <h1 class="display-4 d-none d-md-block">ESTA PÁGINA ESTA DESARROLLADA USANDO NODEJS</h1>
    <p class="lead">
        Node.js® es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome. <br>
        Es una herramienta muy eficiente gracias a los modulos que los desarrolladores agregan y actualizan para hacerlo mucho
        mejor
    </p>
    <hr class="my-4">
    <p>
        Los modulos externos ocupados en este ejemplo de lo que puede hace NodeJs son:
    </p>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Express</button>
        <button type="button" class="list-group-item list-group-item-action">Nodemon</button>
        <button type="button" class="list-group-item list-group-item-action">Express Handlers</button>
    </div>
</div>