<div class="jumbotron">
    <h1 class="display-8 d-xs-block d-md-none">Node.JS?</h1>
    <h1 class="display-4 d-none d-md-block">Node.JS?</h1>
    <p class="lead">
        Es probable que no se note mucho la dependencia, pero es porque la mayor parte de NodeJs esta enfocada al backend
    </p>
    <hr class="my-4">
    <p>
        Muchas veces ayuda en conexiones con bases de datos y tiene librerias muy curiosas en su interior llamadas modulos <br>
        Algunos nativos son:
    </p>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">process (Permite ver por medio de "Callbacks" el progreso de una página)</button>
        <button type="button" class="list-group-item list-group-item-action">fs (Permite generar, leer, editar y eliminar archivos de texto)</button>
        <button type="button" class="list-group-item list-group-item-action">os (Permite ver datos internos del sistema)</button>
    </div>
</div>